.textField{
    width: 200px;
}
.root{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container{
    width: 80%;
    margin: auto;
}

.formItem{
    margin: auto;
}