.container {
    width: 60%;
    height: 100%;
    margin: auto;
  } 

  .containerInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 64px);
    margin-top: 64px;
  }

  .formContainer {
    vertical-align: center;
  }

  .formItemContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .formButtonContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .formItem {
    margin: auto;
    display: flex;
    width:
     50%;
  }
.formButtonInner {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}